{% extends 'base.html' %}

{% block todos %}
<section id="user-input" class="card">
    <div class="ctrlBtn text-center">
        <h1>Todo List App</h1>
        
        <a href="{% url 'create' %}"><button id="add-btn">Add Todo</button></a>
    </div>
</section>
    <section id="toDo" class="card">
        <h3>To-do</h3>
        <ul id="remaining-list">
            {% if todos %}
            {% for todo in todos %}
                {% if not todo.is_completed %}
                    <div class="items-div">
                        <li>
                            <span><a href="{% url 'todos' todo.id %}">{{ todo }}</a></span>
                            <a href="{% url 'update' todo.id %}"><i class="fa-solid fa-pen-to-square green-icon"></i></a>
                            <a href="{% url 'delete' todo.id %}"><i class="fa-solid fa-square-xmark red-icon"></i></a>
                        </li>
                    </div>
                {% endif %} 
            {% endfor %}
        {% else %}
            <h3>No Todos Available</h3>
        {% endif %} 
        </ul>
    </section>   
    <section id="toDo" class="card">
        <h3>Done</h3>
        <ul id="remaining-list">
            {% if todos %}
            {% for todo in todos %}
                {% if todo.is_completed %}
                    <div class="items-div">
                        <li>
                            <span><a href="{% url 'todos' todo.id %}" style="text-decoration: line-through;">{{ todo }}</a></span>
                        </li>
                    </div>
                {% endif %} 
            {% endfor %}
        {% else %}
            <h3>No Todos Available</h3>
        {% endif %} 
        </ul>
    </section>   
{% endblock todos %}